@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: linear-gradient(to right, #C2DBE0, #125189);
}

main{
    background-color: #BBBBBB;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #05182993;
    width: auto;
    padding: 10px;
    margin-top: 100px;
    margin-left:  200px;
    margin-right: 200px;
}

h1{
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #5d3805;
}

h2{
    color: #F2C3A7;
}

p{
    text-align: justify;
}